.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.title{
    font-size: 1.4em;
    align-self: center;
}

.containerSnackList{
    height: 400px;
    width: 60vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
}

.titleSnackList{
    margin-top: 20px;
    padding-left: 25px;
    align-self: flex-start;
    font-size: 1.2em;
    color: rgba(255,255,255,.7);
}
.snackList{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.containerSnack{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:10px;
    padding: 20px;
    background-color: rgba(255,255,255,.6);
}
.imageSnack{
    width:200px;
    height: 200px;
    object-fit: cover;
}
.subContainerSnack{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.containerTextSnacks{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonContainer button{
    width: 40px;
    height: 30px;
    font-size: 21px;
    background-color: rgba(255,255,255,.8);
    cursor: pointer;
}

.buttonContainer button:nth-of-type(1){
    border-radius: 3px 0 0 3px;
    border: 1px solid rgba(0,0,0,.7);
}

.buttonContainer button:nth-of-type(2){
    border-radius: 0 3px 3px 0;
    border: 1px solid rgba(0,0,0,.7);
}

.buttonContainer span{
    border: 1px solid rgba(0,0,0,.7);
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 30px;
    text-align: center;
    color: #000;
    background-color: rgba(255,255,255,.6);
    font-size: 21px;
}

.link{
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    background-color: #c94e1a;
    color: rgba(0,0,0,.9);
    border:1px solid rgba(233,233,233,.8);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 1.2em;
    text-align: center;
}