.Container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    gap: 40px;
}
.Title{
    margin: 20px 0 0;
    font-size: 2em;
    color: #f8f8f8;
}
.ContainerRoom{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.RoomTitle{
    color: #f8f8f8af;
    font-weight: bold;
    word-spacing: 2px;
    letter-spacing: 1px;
    margin: 10px 0 20px;
    
}

.ContainerSessionCards{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}