.FilmesContainer{
    /* width: calc(100vw - 15px); */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* background-color: rgba(255,255,255,.6); */
    overflow-x: hidden;
    padding: var(--padding-section);
}

.FilmesContainer .title{
    /* padding-left: 5%; */
    /* margin: 20px 20px 0; */
    /* color: var(--black); */
    font-weight: 800;
    text-transform: uppercase;
    width: 90vw;
    margin: auto;
}

.FilmesContainerList{
    overflow: auto;
    width: 90vw;
    height: 430px;
    align-self: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    
    gap: .3rem;
    margin: .5rem 0;
    /* margin: 10px 0; */
    /* padding: 10px 20px; */
}

/* @media (max-width:800px){
  .FilmesContainer{
    width: calc(100vw);
  }
} */


.FilmesContainerList::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
  }
  

  
.FilmesContainerList::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #210202; 
  }
  
 
  ::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: var(--bd-radius);
    /* background: #7a1414;
    border-radius: 10px; 
    border: 3px solid #5f1717;  */
  }
  
  ::-webkit-scrollbar-thumb:active {
    background: #ff6523; 
  }
  