.Container{
    background-color: rgba(0,0,0,.7);
    color: #f8f8f8;
    border: 1px solid #f8f8f81f;
    padding: 20px 10px;
    min-width: 120px;
    cursor: pointer;
    border-radius: 15px;
    word-spacing: 2px;
    letter-spacing: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.Container:hover{
    opacity: .8;
    border: 1px solid rgba(0,0,0,.7);
}