.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}

.title{
    font-size: 1.4em;
    color: rgba(233,233,233,.8);
}

.listaPedidos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.containerPedido{
    width: 60%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(233,233,233,.6);
}
.titlePedido{
    margin-top: 20px;
    font-size: 1.2em;
    color: rgba(0,0,0,.7);
    font-weight: bold;
}
.labelPedido{
    color: rgba(0,0,0,.7);
    font-weight: bold;
}

.subContainerRow{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.subContainerPedido{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.subContainerPedido p{
    text-align: center;
    align-self: center;
}