.card{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 215px;
    border-radius: var(--bd-radius);
    box-shadow: 0px 0px 5px 0px #6b270b;
    min-width: 215px;
}

.card img{
    background-color: var(--black);
    height: 75%;

    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.card .infos{
    height: 25%;
    
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr;

    grid-template-areas: 
    'titulo titulo titulo'
    'titulo titulo titulo'
    'genero duracao indicacao';

    padding: .5rem;
    background-color: var(--black);
    color: #c9c9c9;

    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.infos .titulo{
    grid-area: titulo;
    font-weight: 800;
    align-self: flex-start;
}

.infos .genero{
    grid-area: genero;
    font-weight: 300;
}

.infos .duracao{
    grid-area: duracao;
    font-weight: 300;
    justify-self: center;
}

.infos .indicacao{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;

    width: 30px;
    height: 25px;
    border-radius: var(--bd-radius);

    grid-area: indicacao;
}