header{
    display: grid;
    grid-template-columns: auto;
    align-items: center;

    position: relative;

    padding: .5rem;

    background-color: var(--black);
    color: var(--primary-color);
}

header .menuOptions{
    text-transform: uppercase;
    font-weight: 800;
    text-wrap: nowrap;

    cursor: pointer;
}

header .menuOptionsDesktop{
    display: none;
}

header .containerMenuOptionsMobile{
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

header .btnCloseMenuMobile{
    display: block;
    margin: 1rem;
    margin-bottom: 0;
}

header .menuOptionsMobile{
    position: absolute;
    top: 0;
    left: 0;

    height: 100vh;
    width: 80vw;

    animation: appear .3s ease-in-out;
    transition: opacity .3s ease-in-out;

    background-color: var(--black);
}

.menuOptionsMobile li{
    padding: 1.5rem;
    border-bottom: 1px solid var(--primary-color);
}

header h1{
    text-align: center;
    text-wrap: nowrap;
}

header .btnsMenu{
    grid-column: 3 / 4;
    grid-row: 1;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;
}

header span{
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
}


/* Modal Login */

.containerModalLogin{
    position: fixed;
    background-color: #000000b5;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

.modalLogin{
    animation: appear .3s ease-in;

    display: flex;
    flex-direction: column;
    gap: .5rem;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 80vw;
    max-width: 400px;
    /* height: 60vh; */

    padding: 1.5rem 1rem;
    border-radius: var(--bd-radius);
    /* opacity: 0; */

    text-align: center;

    background-color: #fff;

    transition: opacity .3s ease-in-out;
}

.modalLogin.open{
    opacity: 1;
}

.modalLogin .btnCloseLogin{
    align-self: flex-end;
    font-size: 1.5rem;
    margin: -.5rem 0;

    cursor: pointer;

    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover{
        background-color: #0000000f;
    }
}

.modalLogin h1{
    color: var(--primary-color);
}

.modalLogin form{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    text-align: left;
}

form div{
    display: flex;
    flex-direction: column;
}

form div label{
    font-size: .9rem;
    margin-bottom: .2rem;
}

form div input{
    padding: .5rem;
    border-radius: var(--bd-radius);
    border: 1px solid var(--black);
}

form input[type="submit"]{
    padding: .3rem;
    border-radius: var(--bd-radius);
    border: 1px solid var(--black);
    background-color: var(--primary-color);
}

.modalLogin .btnLoginGoogle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    padding: .3rem;
    border: 1px solid var(--black);
    border-radius: var(--bd-radius);
}

.modalLogin .btnLoginGoogle img{
    width: 20px;
    height: 20px;
}

.modalLogin hr{
    margin-top: .5rem;
}

.modalLogin .cadastro{
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}


@keyframes appear {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}


@media (min-width: 1024px) {
    header .menuMobile{
        display: none;
    }

    header .menuOptionsDesktop{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .menuOptionsDesktop li{
        &:hover{
            color: #c9c9c9;
        }
    }
}