*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", system-ui;
    
    list-style: none;

    scroll-behavior: smooth;
}

:root{
    --black: #1b1717;
    /* --primary-color: #af0d0d; */
    --primary-color: #c94e1a;
    --bd-radius: .3rem;
    --padding-section: 1rem 1.5rem;
}

body{
    /* background-color: var(--primary-color); */
    background-color: #000;
    color: #fff;
}

    ::-webkit-scrollbar {
        width: .35rem;
    }
  
    ::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #210202; 
    }
  
    ::-webkit-scrollbar-thumb {
        background: var(--primary-color);
        border-radius: var(--bd-radius);
    }

    ::-webkit-scrollbar-thumb:active {
        background: #ff6523; 
    }