.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.title{
    color:#c94e1a,   
}

.listaFileiras{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    background-color: rgba(233,233,233,.2);
    padding: 20px 0;
    border-radius: 10px;
}

.containerFileira{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}

.fileiraIndex{
    width: 50px;
    margin: 0 10px;
}
@media all and (max-width:500px){
    .fileiraIndex{width: 25px;}
}
.listaAssentos{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.containerAssento{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.containerAssento img{
    width:30px;
    height:30px;
    object-fit: cover;
}

@media all and (max-width:700px){
    .containerAssento img{
        width:15px;
        height:15px;
        object-fit: cover;
    }
}

@media all and (max-width:450px){
    .containerAssento img{
        width:10px;
        height:10px;
        object-fit: cover;
    }
}

.link{
    width: 100%;
    padding: 20px;
    background-color: #c94e1a;
    color: rgba(0,0,0,.9);
    border:1px solid rgba(233,233,233,.8);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    letter-spacing: 1px;
    word-spacing: 1px;
    font-size: 1.2em;
    text-align: center;
}